<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!--<script src="../d3/end.js"></script>-->

</head>
<body>
<!--<table>-->
    <!--<tr>adsf</tr>-->
    <!--<td>asdfsad</td>-->
<!--</table>-->


<script src="http://d3js.org/d3.v3.js"></script>
<script type="text/javascript">

    var datas=
            [
                [5,20],
                [480,90],
                [250,50],
                [100,33],
                [330,95],
                [410,12],
                [475,44],
                [25,67],
                [85,21],
                [220,88]
            ];
    var xs=[1,2,3,4,5];
    var ys=[1,6,3,5,2];

    svg=d3.select("body")
            .append("svg")
            .attr("width",800)
            .attr("height",450)
            .attr("back-color","#00FF00");

    svg.selectAll("circle")
            .data(datas)
            .enter()
            .append("circle")
            .attr("cx",function(d){return d[0];})
            .attr("cy",function(d){return d[1];})
            .attr("r",4);
    //        d3.selectAll("circle")
    //                .attr("cx",function(d,i){
    //                    return xs[i];
    //                })
    //                .attr("cy",function(d,i){
    //                    return ys[i];
    //                })
    //                .attr("r",function(d){
    //                    return d*20;
    //                });



    //        d3.select("body").append("table");
    //        d3.select("body").select("table").data(loads,function(d){return d;});


</script>
</body>
</html>