<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!--<script src="../d3/end.js"></script>-->
    <script src="http://d3js.org/d3.v3.js"></script>
    <script type="text/javascript">
//        var matrix = [
//            [11975,  5871, 8916, 2868],
//            [ 1951, 10048, 2060, 6171],
//            [ 8010, 16145, 8090, 8045],
//            [ 1013,   990,  940, 6907]
//        ];
//        var tr=d3.select("body")
//                .append("table")
//                .selectAll("tr")
//                .data(matrix)
//                .enter().append("tr");
//        var data = [4, 8, 15, 16, 23, 42];
//        d3.select("body")
//                .selectAll("table")
//                .selectAll("td")
//                .data(data)
//                .enter()
//                .append("td")
//                ;
//        var td=tr.selectAll("td")
//                .data(10)
//                .text(function(d){return d;})
//        var tr=d3.select("body")
//                .append("table")
//                .append("tr")
//                .data("134")
//                .visibility("true");
//        var td=d3.select("table")
//                .append("td")
//                .data("132");
    </script>
</head>
<body>
<!--<table>-->
    <!--<tr>adsf</tr>-->
    <!--<td>asdfsad</td>-->
<!--</table>-->

</body>
</html>